@media only screen and (max-width: 667px) {
  body {
    width: 170px;
  }
  nav {
    display: flex;
    align-items: center;
    position: fixed;
    width: 170px;
    height: 30px;
    list-style: none;
    background-color: #0e2954;
    opacity: 0.9;
  }

  .mainnav {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-left: 5px;
  }
  .mainlogo a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #faf5f1;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 2px 4px 5px #00203fff;
    font-size: 15px;
  }
  .link {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 2px;
  }
  .link li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .link li a {
    color: #faf5f1;
    text-decoration: none;
    font-size: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 1.5px;
    text-shadow: 5px 2px 5px #00203fff;
  }
  .link li a:hover {
    border-bottom: 3px solid #84a7a1;
    margin-bottom: 5px;
  }

  #profile {
    width: 100%;
    padding-top: 35px;
  }
  .con1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    background: linear-gradient(to right, #84a7a1, #2e8a99);
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
  }
  .profile-image {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 200px;
  }
  .profile-image p img {
    width: 130px;
    height: 140px;
    border-radius: 50%;
  }
  .social-media {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .social-media img {
    width: 5px;
    height: 5px;
    padding: 6px;
    border: 1px solid #84a7a1;
    border-radius: 30%;
    background-color: #2e8a99;
  }

  .profile-content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content1 {
    display: flex;
    text-shadow: 2px 1px 2px #00203fff;
    width: 100%;
    gap: 3px;
  }
  .content1 h1 {
    font-size: 17px;
  }
  .content1 span {
    text-transform: uppercase;
    background-color: #0e2954;
    padding: 5px;
    color: #faf5f1;
    border-radius: 7px;
    font-family: "season";
    text-shadow: 1px 2px 5px #2e8a99;
    font-size: 15px;
  }
  .content1 h2 {
    font-size: 11px;
  }
  .content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
  .content2 h2 {
    text-transform: uppercase;
    background-color: #0e2954;
    color: #faf5f1;
    padding: 7px;
    width: 120px;
    border-radius: 7px;
    font-family: "season";
    font-size: 8px;
  }
  .content2 h3 {
    text-shadow: 1px 2px 5px #00203fff;
    font-size: 8px;
  }

  /* about */
  #about {
    width: 100%;
    padding-top: 10px;
  }
  .about-con1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 10px;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: 5px;
  }

  .about-content h2 {
    font-weight: 800;
    font-size: 12px;
    padding-left: 5px;
    background-color: #0e2954;
    color: #faf5f1;
  }
  .about-content h1 {
    font-size: 15px;
    font-weight: 800;
    font-family: "season";
    text-shadow: 1px 2px 5px #00203fff;
    margin-left: 20px;
  }
  .about-content p {
    padding-top: 10px;
    font-size: 8px;
    padding-left: 10px;
    padding-bottom: 20px;
  }
  .about-content h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }
  .about-content-1 {
    display: flex;
    padding-top: 10px;
    font-size: 8px;
  }
  .about-content-1 .first {
    width: 50%;
    padding-bottom: 20px;
    padding-left: 5px;
  }
  .about-content-1 .second {
    width: 50%;
    padding-bottom: 20px;
    margin-left: 5%;
  }
  .about-content-1 ul li {
    list-style: none;
    padding-top: 10px;
  }
  .about-con2 p img {
    width: 100px;
    height: 130px;
    padding: 5px;
  }

  .about-con2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5%;
    width: 95%;
    margin-left: 4px;
    background: linear-gradient(to right, #84a7a1, #2e8a99);
  }
  .about-con2 a {
    text-decoration: none;
    color: #faf5f1;
    background-color: #0e2954;
    padding: 8px;
    border-radius: 15px;
    font-size: 8px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid #00203fff;
    margin-bottom: 5px;
  }
  #file {
    width: 100%;
    height: 10px;
  }

  /* project */
  #project {
    width: 100%;
    padding-top: 50px;
  }
  .proj-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 30px;
  }
  #project .image img {
    width: 150px;
    height: 90px;
  }
  .proj-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    padding: 10px;
    text-shadow: 1px 2px 5px #00203fff;
  }
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .image :first-child:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  .image :last-child:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
  }
  #image1 {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 3px 4px 3px #00203fff;
  }
  #image2 {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    box-shadow: 3px 4px 3px #00203fff;
  }
  .project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    width: 80px;
    padding: 25px 40px 25px 40px;
    background: linear-gradient(to right, #84a7a1, #2e8a99);
  }
  .project2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
    width: 80px;
    padding: 25px 40px 25px 40px;
    background: linear-gradient(to right, #2e8a99, #84a7a1);
  }
  .proj-about1 {
    width: 130px;
    height: 250px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid #292f36;
    padding-left: 5px;
    overflow: auto;
    border-radius: 10px 0 0 10px;
  }
  .proj-about1 h3 {
    padding-bottom: 5px;
    font-size: 11px;
  }
  .proj-about1 p {
    padding-bottom: 5px;
    font-size: 9px;
  }
  .proj-about2 h3 {
    padding-bottom: 5px;
    font-size: 11px;
  }
  .proj-about2 p {
    padding-bottom: 5px;
    font-size: 9px;
  }
  .proj-about1 a {
    font-size: 10px;
    margin-left: 30px;
  }

  /* contact */
  #contact {
    width: 100%;
    background: linear-gradient(to right, #84a7a1, #2e8a99);
  }
  .dot-background {
    background-image: radial-gradient(#00203fff 0.1px, transparent 0.5px);
    background-size: 10px 10px;
    background-position: 10px 10px;
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact-title {
    font-size: 15px;
    text-shadow: 1px 2px 5px #00203fff;
    margin-left: 10px;
  }
  .contact-con1 {
    display: flex;
    width: 100%;
    height: 200px;
    margin-top: 20px;
  }
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .icon-content {
    display: flex;
    flex-direction: column;
    font-size: 8px;
    margin-left: 10px;
    gap: 14px;
  }
  .contact-con1 a {
    color: #000000;
    text-decoration: none;
  }
  .contact-con1 a:hover {
    border-bottom: 1px solid #000000;
  }
  .icon img {
    width: 15px;
    height: 15px;
    margin-left: 20px;
  }
  .col1 {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    gap: 10px;
  }
  .col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
  }
  form {
    display: flex;
    flex-direction: column;
    margin-left: 1px;
  }
  form h1 {
    padding-top: 10px;
    font-size: 8px;
    text-shadow: 1px 2px 5px #00203fff;
  }
  form input {
    width: 100px;
    height: 10px;
    margin-top: 10px;
    border: 1px solid #292f36;
    padding-left: 10px;
    font-size: 8px;
    border-radius: 5px;
  }
  form textarea {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border: 1px solid #292f36;
    padding-left: 10px;
    font-size: 8px;
    border-radius: 5px;
  }
  form button {
    width: 70px;
    height: 20px;
    margin-top: 10px;
    background-color: #0e2954;
    color: #faf5f1;
    border: 2px solid #0e2954;
    border-radius: 10px;
    cursor: pointer;
    font-size: 7px;
  }
  form button:hover {
    background-color: #faf5f1;
    color: #000000;
    transition: 0.3s ease-in-out;
    border: 2px solid #0e2954;
  }
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e2954;
    color: #faf5f1;
    height: 12px;
    font-size: 5px;
    text-transform: uppercase;
  }
}
